!!! 5
html(lang="en")
  head
    title Socket.io Chat
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="http://cdn.socket.io/stable/socket.io.js")
    script(src="/socket.io/socket.io.js")
    script(src="/chat.js")
  body
    #heading
      h1 Socket.io Chat
    #content
      #messages
        ul#message_list
    #chatbox
      form(action="#", id="sendbox")
        input(type='text', id='message')
        input(type="submit")#send Enviar
    #footer
      p
        span#client_count 0
        |  connected users